div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#root {
  width: 100%;
  height: 123%;
  margin: 0px;
  padding: 0px;
}
.App {
  width: 100%;
  height: 100%;
}
svg {
  width: 100%;
  height: 100%;
}
.MapWalker {
  position: absolute;
  margin: -26px 0 0 -51px;
}
.MapWalker .figure {
  position: absolute;
  width: 25px;
  left: 38px;
  top: -2px;
  height: 39px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png) -298px -114px
    no-repeat;
}
.MapWalker .angleBack {
  width: 102px;
  height: 52px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png) -834px -2px
    no-repeat;
}
.MapWalker.m0 .figure {
  background-position: -298px -114px;
}
.MapWalker.m1 .figure {
  background-position: -335px -114px;
}
.MapWalker.m2 .figure {
  background-position: -372px -114px;
}
.MapWalker.m3 .figure {
  background-position: -409px -114px;
}
.MapWalker.m4 .figure {
  background-position: -446px -114px;
}
.MapWalker.m5 .figure {
  background-position: -483px -114px;
}
.MapWalker.m6 .figure {
  background-position: -520px -114px;
}
.MapWalker.m7 .figure {
  background-position: -557px -114px;
}
.MapWalker.m8 .figure {
  background-position: -2px -114px;
}
.MapWalker.m9 .figure {
  background-position: -39px -114px;
}
.MapWalker.m10 .figure {
  background-position: -76px -114px;
}
.MapWalker.m11 .figure {
  background-position: -113px -114px;
}
.MapWalker.m12 .figure {
  background-position: -150px -114px;
}
.MapWalker.m13 .figure {
  background-position: -187px -114px;
}
.MapWalker.m14 .figure {
  background-position: -224px -114px;
}
.MapWalker.m15 .figure {
  background-position: -261px -114px;
}
.MapWalker.m0 .angleBack {
  background-position: -834px -2px;
}
.MapWalker.m1 .angleBack {
  background-position: -938px -2px;
}
.MapWalker.m2 .angleBack {
  background-position: -1042px -2px;
}
.MapWalker.m3 .angleBack {
  background-position: -1146px -2px;
}
.MapWalker.m4 .angleBack {
  background-position: -1250px -2px;
}
.MapWalker.m5 .angleBack {
  background-position: -1354px -2px;
}
.MapWalker.m6 .angleBack {
  background-position: -1458px -2px;
}
.MapWalker.m7 .angleBack {
  background-position: -1562px -2px;
}
.MapWalker.m8 .angleBack {
  background-position: -2px -2px;
}
.MapWalker.m9 .angleBack {
  background-position: -106px -2px;
}
.MapWalker.m10 .angleBack {
  background-position: -210px -2px;
}
.MapWalker.m11 .angleBack {
  background-position: -314px -2px;
}
.MapWalker.m12 .angleBack {
  background-position: -418px -2px;
}
.MapWalker.m13 .angleBack {
  background-position: -522px -2px;
}
.MapWalker.m14 .angleBack {
  background-position: -626px -2px;
}
.MapWalker.m15 .angleBack {
  background-position: -730px -2px;
}
html { font-size: 62.5%; }

@font-face {
  font-family: 'hs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'elice';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ne';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Go';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}